
@{
    ViewBag.Title = "Nexus | About";
}

<!-- HERO
  ================================================== -->
<section class="page-banner-area page-about">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">Creative It agency</h1>
                    <p>We'd love to talk about how we can help you.</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>



<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Our Working process
                    </h2>


                    <!-- Subheading -->
                    <p>
                        Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/Content/images/process/process-1.jpg" alt="" class="img-fluid">

                    <h3>Project Research</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/Content/images/process/process-2.jpg" alt="" class="img-fluid">

                    <h3>Project demostration</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="~/Content/images/process/process-3.jpg" alt="" class="img-fluid">

                    <h3>Development & delivery</h3>
                    <p>Nihil facere delectus eaque aut possimus nobis laudantium reprehenderit.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section" id="projects-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h1 class="text-white">We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <p class="lead text-white">We are providing best service since 1990 to present , committed to best service delivery.Nullam metus enim, placerat in lacus vel, porttitor egestas libero. Etiam ex risus, feugiat eget accumsan eu, sagittis eu urna. In eget ultrices metus. Nunc accumsan </p>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="~/Content/images/projects/p-1.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: onepage</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                <div class="single-project">
                    <img src="~/Content/images/projects/p-4.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project: business</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 ">
                <div class="single-project">
                    <img src="~/Content/images/projects/p-3.jpg" alt="" class="img-fluid">
                    <div class="project-content">
                        <h4>Project : Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi consequuntur veniam quod</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Read our latest news
                    </h2>

                    <!-- Subheading -->
                    <p>
                        Our duty towards you is to share our experience we're reaching in our work path with you.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="~/Content/images/blog/blog-1.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a >
                                <h3 class="card-title">Top tips to speed up your site in a speedy time</h3>
                            </a>
                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a  class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="~/Content/images/blog/blog-2.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a >
                                <h3 class="card-title">Brand your site value with marketing strategies</h3>
                            </a>

                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a  class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-8">
                <div class="blog-box">
                    <div class="blog-img-box">
                        <img src="~/Content/images/blog/blog-3.jpg" alt="" class="img-fluid blog-img">
                    </div>
                    <div class="single-blog">
                        <div class="blog-content">
                            <h6> 17 October 2018</h6>
                            <a >
                                <h3 class="card-title">Website Optimization is very essential for site speed</h3>
                            </a>
                            <p>There are many variations of passages Lorem Ipsum available, but majority have ama suffered altratio. the lorem.</p>
                            <a  class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

