
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        #mar{
            margin:-100px;
        }
    </style>
</head>
<!-- HERO
   ================================================== -->
<section class="banner-area py-5" id="banner-3">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row  align-items-center justify-content-center">
            <div class="col-md-12 col-lg-9">
                <div class="banner-content text-center style-2">
                    <!-- Heading -->
                    <h1 id="mar" class="display-4 mb-4 ">
                        World Best Broadband and Tele-Communication Service Provider 
                    </h1>

                    <!-- Subheading -->
                    <p class="lead mb-5 pr-0">
                        We are NEXUS and also the <b>Next-Us Generation</b>  <br />Connecting people to each others 
                    </p>

                    <!-- Button -->
                    <a href="@Url.Action("Services","Home")" target="_blank" class="btn btn-primary btn-circled">
                        Services
                    </a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<section id="about" class="section">
 
            <div class="col-lg-12 pt-6 col-md-12">
                <div class="row justy-content-center">
                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-thumb-up"></i>
                            </div>
                            <h4 class="mb-2">The right advice</h4>
                            <p>Our team are experts in matching you with the right provider.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6 mb-5">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-cup"></i>
                            </div>
                            <h4 class="mb-2">Recognised for excellence</h4>
                            <p>We've been awarded for our high rate of customer satisfaction.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-wallet"></i>
                            </div>
                            <h4 class="mb-2">Compare the best</h4>
                            <p>We only compare market leaders with a reputation for service quality.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="text-center about-block">
                            <div class="img-icon mb-4">
                                <i class="ti-dashboard"></i>
                            </div>
                            <h4 class="mb-2">Premium Services</h4>
                            <p>We only compare market leaders with a reputation for service quality.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-grey" id="process">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title ">
                        WELCOME TO THE
                        FUTURE OF BROADBAND
                    </h2>

                    <!-- Subheading -->
                    <p>
                        NEXUS Service Marketing System is Pakistan’s most reliable fiber to the home internet and Tele-communication service provider.Pakistan’s leading corporate ISP, NEXUS is an effort to raise the bar for what consumers expect from home based services.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-1.jpg" alt="" class="img-fluid">

                    <h3>SPEED</h3>
                    <p>No more waiting. No more lags. No more buffering. NEXUS allows you to enjoy your internet experience without having you lose your precious time</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-2.jpg" alt="" class="img-fluid">

                    <h3>RELIABILITY</h3>
                    <p>Don’t let downtime slow you down. NEXUS is a self-diagnosing ISP that will anticipate your problems and provide you uninterrupted services</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="images/process/process-3.jpg" alt="" class="img-fluid">

                    <h3>ENTERTAINMENT</h3>
                    <p>NEXUS gives you exclusive access to the fast-paced universe of online gaming, live streaming, movies, music, Tele-communication and so much more</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                        INTERNET and TELE-COM Services
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                        We have lots of plans and packages for our customer
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-light-bulb"></i>
                    <h3> After sale services</h3>
                    <p>we believe in to make our customer happy and satisfied that's why we are availale 24/7 if you have any queries or question just let us know
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-desktop"></i>
                    <h3>Tele-Comunication</h3>
                    <p>NEXUS provides you seamless calling without any hassles of top up. Now use our dial-up service to make calls to your loved ones 24/7. Just pick up your phone and start calling!</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-announcement"></i>
                    <h3>Announcement </h3>
                    <p>Connect with us we have an amazing Offers, Discounts and also some free Packages coming ahead for you to make your New Year enjoyable just connect with NEXUS</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-layers-alt"></i>
                    <h3>Fastest Speed </h3>
                    <p>
                        Fast speeds Even with a full house.
                        Get fast Wi-Fi and stay connected to what you love always quality is our guarantee.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-mobile"></i>
                    <h3>Broadband</h3>
                    <p>Plenty of bandwidth to power your devices at home.Lots of speed to stream and supports more devices. Gaming surfing and streaming at our fastest available speed.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-settings"></i>
                    <h3>Customer Services</h3>
                    <p>We belief in to serve that's why we are always here to resolve your problem and provide you hassle free connectivity. We are here 24/7 to assist .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="pricing">
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Affordable Price Plan
                    </h2>

                    <!-- Subheading -->
                    <p>
                        A WHOLE NEW INTERNET EXPERIENCE<br /> SUPREME SPEED, UNMATCHED CONNECTIVITY
                    </p> 
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Dial-Up <br />Services</h3>
                    
                    <div class="price-block">
                        <h2>325 <span>$</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Free installation</li>
                        <li>24/7 Customer Service</li>
                        <li>Free SSL Certificate </li>
                        <li>Drop-free calls</li>
                        
                    </ul>

                    <a href="@Url.Action("dialup","Home")" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>BroadBand<br />Services</h3>
                    
                    <div class="price-block">
                        <h2>500 <span>$</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>24/7 Connectivity </li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>24/7 Customer Service</li>
                        <li>Free Installation</li>
                        <li>Mobile App Account for user</li>
                    </ul>

                    <a href="@Url.Action("bband","Home")" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-6">
                <div class="pricing-box ">
                    <h3>Land-Line<br />Services</h3>
                    
                    <div class="price-block">
                        <h2>250 <span>$</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>24/7 Customer Service</li>
                        <li>Free Installation</li>
                        <li>Clear and Drop-free calling </li>
                        <li>Caller tune</li>
                        
                    </ul>

                    <a href="@Url.Action("landline","Home")" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


